.Button {
  background-color: #f05a22;
  color: white;
  height: 40px;
  border-radius: 50px;
  stroke-width: 0px;
  border-style: none;
  transition: 0.2s ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 2px;
  margin-bottom: 20px;
}
.Button-Large {
  width: 210px;
}
.Button-Small {
  width: 50px;
  height: 30px;
  margin: 2px;
}
.Button:hover {
  background-color: #ffc107;
  color: black;
}
.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
  background-color: lightgray;
  color: black;
  cursor: not-allowed;
}
