.nav {
  text-align: center;
  margin-bottom: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: lightgray;
  width: 500px;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.row {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  height: auto;
  margin-bottom: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.row:hover {
  background-color: #f05a22;
  color: white;
  transition: 0.2s ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.link {
  margin: 2px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.detail {
  background-color: #f05a22;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 10px;
  flex-wrap: wrap;
  width: 590px;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    min-width: 10rem;
  }
}

.flex-container > div {
  background-color: #f05a22;
  color: white;
  margin: 2px;
  text-align: center;
  line-height: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.flex-container > div > p {
  background-color: gray;
  color: black;
  margin: 0px;
  padding: 10px;
  word-break: break-all;
  white-space: normal;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 100;
}
.flex-pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 10px;
  flex-wrap: wrap;
  width: 590px;
}
.page-item {
  display: flex;
  word-break: break-all;
  white-space: normal;
  text-align: center;
  background-color: #f05a22;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 100;
  padding: 10px;
  width: 30px;
  height: 25px;
  margin: 2px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.page-item:hover {
  cursor: pointer;
  background-color: #ffc107;
  color: black;
}
.center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  color: white;
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  width: auto;
}

.flex-form {
  align-content: stretch;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  align-items: strech;
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 1rem;
  align-content: center;
  text-align: center;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: black;
  background-color: #ffffff;
}

.control-group {
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}
